.bestsellers {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1440px;
}
.bestsellersTitle {
  margin-top: 30px;
  font-size: 36px;
  color: #780202;
  margin-bottom: 30px;
}

.seeMore {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 60px;
  margin-bottom: 30px;
  align-items: flex-end;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 20px;
}
.seeMore p {
  margin-bottom: 15px;
}

.seeMore:hover {
  animation: slide2 1s ease-in-out infinite;
}

@media only screen and (max-width: 1200px) {
  .bestsellers {
    max-width: 768px;
  }
  .productsList {
    flex-wrap: wrap;
  }
  .productsItem {
    width: auto !important;
  }
}

@media only screen and (max-width: 676px) {
  .productsList {
    justify-content: center !important;
  }
}
