.checkout {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  z-index: 1;
  padding: 15px;
  margin-top: 30px;
  height: 350px;
  width: 600px;
  background: #780202;
  border-radius: 30px;
}
.cardInfo {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.dateCvcBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardLabel {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
}
.cardLabel p {
  width: 100%;
}

.cardLabel input {
  height: 20px;
  color: white;
  font-size: 14px;
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
}

.cardDesign {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mastercard {
  align-self: flex-start;
}
.lines {
  align-self: flex-end;
  margin-right: -15px;
}

.longLines {
  margin-top: 30px;
}
.itemInfoBlock {
  position: relative;
  right: 20px;
  top: 10px;
  height: 320px;
  width: 320px;
  background: #eee;
  border-radius: 20px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemInfoBlock .itemPrice {
  margin-top: 15px;
}

.acceptButton {
  cursor: pointer;
  margin-top: 20px;
  height: 60px;
  width: 200px;
  background: #780202;
  border: none;
  color: white;
  transition-duration: 0.5s;
}
.acceptButton:hover {
  transition-duration: 0.5s;
  border-radius: 20px;
}
