@font-face {
  font-family: "fctm";
  src: local("factum"), url(./factum.otf) format("otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fctm {
  font-family: "fctm";
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
